.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
    transition: 0.2s;
    width: 100%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
      width: 100%;
    padding: 2px 16px;
    border:2px solid gray;
  }
  h4{
      background-color :ligre;
  }